/* layout */
html,
body {
	height: 100%;
}
body {
	font-family: "Microsoft YaHei";
	background-color: #fff;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
input {
	outline: none;
}

.f-l{float:left;}
.f-r{float:right;}

/* ie fixed */
.ie6,
.ie6 body{
   background-image:url("about:blank");
   background-attachment:fixed;
}
html{overflow-y:scroll;}

/* placeholder */
::-webkit-input-placeholder {color:#999;}
input:-moz-placeholder{color:#999;}
.placeholder{color:#999;}

/* comm: g-input (通用表单) */
button::-moz-focus-inner{margin:0;padding:0;border:0;}
input::-ms-clear{display:none;} /* 去掉ie10文本框后边的X */

/* comm */
#doc-view{width:100%;}

#doc-view,
#doc-hd,
#doc-bd,
#doc-ft{position:relative;}

/* hack */
.ie6 #doc-view,
.ie6 #doc-bd{zoom:1;} /* 解决ie6下绝对定位的问题 */

#doc,
#doc-view{min-width:1002px;}

/* 通栏宽度并居中 */
.container{margin:0 auto;width:1000px;}