/* Page detail CSS */

/* detail-section */
.detail-section .tab-section .tab-nav .title {
	display: block;
	padding-top: 32px;
	line-height: 20px;
	background-image: url(../../img/icon_detail.png);
	background-repeat: no-repeat;
}
.detail-section .tab-section .tab-nav .title:hover {
	text-decoration: none;
	color: #f7820d;
}
.detail-section .tab-section .tab-nav .tab-active .title {
	color: #9d9d9d;
}
.detail-section .tab-section .tab-nav .cjfx {
	background-position: 8px -115px;
}
.detail-section .tab-section .tab-nav .jcbb {
	background-position: 8px -188px;
}
.detail-section .tab-section .tab-nav .sdfx {
	background-position: 8px -280px;
}
.detail-section .tab-section .tab-nav .jsjl {
	background-position: 8px -47px;
}
.detail-section .tab-section .tab-nav .xxfx {
	background-position: 8px -378px;
}
.detail-section .tab-section .tab-nav .zzpj {
	background-position: 8px 26px;
}
.detail-section .tab-section .tab-nav .sdtfx {
	background-position: 8px -465px;
}

/* detail-section */
.detail-section .classify-section {
	padding: 0;
}
.detail-section .classify-section .section {
	margin: 0;
	border-width: 0 0 1px 0;
	border-radius: 0;
	box-shadow: 0 0 0;
}

/* detail-hd */
.detail-hd {
	margin: 0 auto;
	width: 95%;
	border-bottom: 1px solid #dadada;
}
.detail-hd .title {
	overflow: hidden;
	float: left;
	padding-left: 32px;
	width: 132px;
	height: 86px;
	line-height: 86px;
	font-size: 18px;
	color: #9d9d9d;
	text-shadow: 0 1px 0 #fff;
}
.detail-hd .title .glyphicon {
	top: 3px;
	margin-right: 6px;
	color: #8cd5ed;
}

/* school-classify */
.school-classify {
	float: right;
	margin-top: 28px;
}
.school-classify .dropdown {
	float: left;
	margin-right: 10px;
}
.school-classify .btn-search,
.school-classify .btn-download {
	margin-right: 10px;
}

.school-classify-section {
	display: none;
    margin: 0 auto;
    padding-bottom: 28px;
    width: 95%;
    border-bottom: 1px solid #dadada;	
}
.school-classify-section .school-classify {
	display: none;
	float: none;
	text-align: center;
}
.school-classify-section .school-classify .dropdown {
	display: inline-block;
	float: none;
}
.school-classify-section .school-classify .dropdown button {
	width: 110px;
}
.school-classify-section .school-classify .btn-search {
	visibility: hidden;
}

/* detail-bd */
.detail-bd .classify-hd {
	overflow: hidden;
	margin: 0 auto;
	width: 91%;
	border-bottom: 1px solid #dadada;
}
.detail-bd .classify-hd .glyphicon {
    top: 3px;
    margin-right: 6px;
    color: #8cd5ed;
}
.detail-bd .classify-hd .title {
	overflow: hidden;
	float: left;
	padding-left: 32px;
	width: 232px;
	height: 86px;
	line-height: 86px;
	font-size: 18px;
	color: #9d9d9d;
	text-shadow: 0 1px 0 #fff;
}
.detail-bd .classify-bd {
	margin: 0 auto;
	width: 86%;
}
.detail-bd .classify-bd .pic-list {
	margin-right: -25px;
	padding-top: 20px;
}
.detail-bd .classify-bd .pic-list li {
	margin-right: 36px;
}
.detail-bd .loading {
	margin: 20% auto;
	width: 80%;
}

/* examinfo-list */
.examinfo-list {
	margin: 0 auto;
	padding-top: 50px;
    width: 92%;
}
.examinfo-list ul {
	margin-right: -50px;
}
.examinfo-list li {
	display: inline;
	float: left;
	margin-right: 42px;
	width: 120px;
	height: 220px;
	text-align: center;
}
.examinfo-list li img {
	display: block;
	width: 120px;
	height: 120px;
}

.detail-bd .table-section {
	display: none;
}

.detail-bd .selection-section {
	padding: 80px 20px 0;
}
.detail-bd .selection-section li {
	padding: 15px 0;
	text-align: center;
}
.detail-bd .selection-section li a {
	padding: 20px 16px;
}

.detail-bd .highcharts-section {
	padding: 40px 20px;
}
.detail-bd .highcharts-section .highcharts-load {
	display: none;
	padding-top: 180px;
	width: 100%;
    height: 400px;
    text-align: center;
}
.detail-bd .highcharts-section .highcharts-load span {
	display: block;
	margin-top: 15px;
	line-height: 20px;
	text-align: center;
}