/* Page detail CSS */

/* detail-section */
.detail-section .tab-section .tab-nav .title {
	display: block;
	padding-top: 32px;
	line-height: 20px;
	background-image: url(../../img/icon_detail.png);
	background-repeat: no-repeat;
}
.detail-section .tab-section .tab-nav .title:hover {
	text-decoration: none;
	color: #f7820d;
}
.detail-section .tab-section .tab-nav .tab-active .title {
	color: #9d9d9d;
}
.detail-section .tab-section .tab-nav .cjfx {
	background-position: 8px -115px;
}
.detail-section .tab-section .tab-nav .jcbb {
	background-position: 8px -188px;
}
.detail-section .tab-section .tab-nav .sdfx {
	background-position: 8px -280px;
}
.detail-section .tab-section .tab-nav .jsjl {
	background-position: 8px -47px;
}
.detail-section .tab-section .tab-nav .xxfx {
	background-position: 8px -378px;
}
.detail-section .tab-section .tab-nav .zzpj {
	background-position: 8px 26px;
}
.detail-section .tab-section .tab-nav .sdtfx {
	background-position: 8px -465px;
}

/* detail-section */
.detail-section .classify-section {
	padding: 0;
}
.detail-section .classify-section .section {
	margin: 0;
	border-width: 0 0 1px 0;
	border-radius: 0;
	box-shadow: 0 0 0;
}

/* detail-hd */
.detail-hd {
	margin: 0 auto;
	width: 95%;
	border-bottom: 1px solid #dadada;
}
.detail-hd .title {
	overflow: hidden;
	float: left;
	padding-left: 32px;
	width: 132px;
	height: 86px;
	line-height: 86px;
	font-size: 18px;
	color: #9d9d9d;
	text-shadow: 0 1px 0 #fff;
}
.detail-hd .title .glyphicon {
	top: 3px;
	margin-right: 6px;
	color: #8cd5ed;
}
.detail-hd .school-classify {
	float: right;
	margin-top: 28px;
}
.detail-hd .school-classify .dropdown {
	float: left;
	margin-right: 10px;
}
.detail-hd .school-classify .btn-search,
.detail-hd .school-classify .btn-download {
	margin-right: 10px;
}
.detail-bd .loading {
	margin: 20% auto;
	width: 80%;
}